<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%date %-5level %logger - %message%n</pattern>
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="STDERR"/>
  </root>
</configuration>
