# Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# IntelliJ files
*.idea
*.iml
_windows/
codestyles/
code.style.schemes.xml
debugger.renderers.xml
debugger.xml
filetypes.xml
parameter.hints.xml
out/

# Eclipse files 
*.settings
*.project
*.classpath

# Visual Studio Code files 
settings.json
# Java classfiles
*.class

# Maven target dir
.settings/org.maven.ide.eclipse.prefs
.idea/workspace.xml
doc
lib
target

# Gradle
.gradle
build/

# Sirix project
sirix-performance
bundles/sirix-rest-api/.idea/vcs.xml
bundles/sirix-rest-api/.idea/compiler.xml
/bundles/sirix-kotlin-api/logs/sirix.log
/bundles/sirix-query/zgc-generational-insert.log
/bundles/sirix-kotlin-cli/zgc-generational-insert.log
/bundles/sirix-kotlin-api/zgc-generational-insert.log
/bundles/sirix-rest-api/zgc-generational-insert.log
