# Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# IntelliJ files
*.idea
*.iml
/_windows/
/codestyles/
code.style.schemes.xml
debugger.renderers.xml
debugger.xml
filetypes.xml

# Eclipse files 
*.settings
*.project
*.classpath

# Java classfiles
*.class

# Maven target dir
.settings/org.maven.ide.eclipse.prefs
.idea/workspace.xml
doc
lib
target

# Sirix project
sirix-performance
bundles/sirix-rest-api/.idea/vcs.xml
bundles/sirix-rest-api/.idea/compiler.xml
