version: '3'
services:
  keycloak:
    image: quay.io/keycloak/keycloak
    ports:
      - 8080:8080
      - 8433:8433
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_LOGLEVEL=DEBUG
      - KEYCLOAK_IMPORT=/opt/keycloak/realm-export.json
    restart: always
    volumes:
      - ./bundles/sirix-rest-api/src/test/resources/realm-export.json:/opt/keycloak/realm-export.json
      - ./bundles/sirix-rest-api/src/test/resources/create-sirix-users.sh:/opt/jboss/startup-scripts/create-sirix-users.sh
    command:
      - "-b 0.0.0.0"
      - "-bmanagement 0.0.0.0"
    networks:
      - auth-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 30s
      timeout: 5s
      retries: 10
  server:
    build: .
    image: sirixdb/sirix
    ports:
      - "9443:9443"
    restart: always
    volumes:
      - /opt/sirix/sirix-data:/opt/sirix/sirix-data
      - ./bundles/sirix-rest-api/src/main/resources/cert.pem:/opt/sirix/sirix-data/cert.pem
      - ./bundles/sirix-rest-api/src/main/resources/key.pem:/opt/sirix/sirix-data/key.pem
      - ./bundles/sirix-rest-api/src/main/resources/sirix-docker-conf.json:/opt/sirix/sirix-docker-conf.json
      - ./bundles/sirix-rest-api/src/test/resources/logback-test.xml:/opt/sirix/logback-test.xml
    depends_on:
      keycloak:
        condition: service_healthy
    networks:
      - auth-network
    links:
      - keycloak
networks:
  auth-network:
    driver: bridge

